<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1" android:versionName="0.4" package="truesculpt.main">
            
    <application 
	    android:icon="@drawable/icon" 
	    android:label="@string/app_name" 
	    android:debuggable="true" android:name="@string/app_name">
        <activity android:name="TrueSculpt"
                  android:label="@string/app_name" 
                  android:screenOrientation="portrait" 
                  android:launchMode="singleInstance">
            
        <intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>

    <activity android:name="truesculpt.ui.panels.ToolsPanel" android:label="@string/tools_panel">
</activity>
<activity android:name="truesculpt.ui.panels.PointOfViewPanel" android:label="@string/point_of_view"></activity>
<activity android:name="truesculpt.ui.debug.DebugPanel" android:label="@string/debug_panel"></activity>
<activity android:name="truesculpt.ui.panels.UpdatePanel" android:label="@string/update_version_panel"></activity>
<activity android:name="truesculpt.ui.panels.TutorialWizardPanel" android:label="@string/tutorial_wizard"></activity>
<activity android:name="truesculpt.ui.debug.DebugSensorsPanel" android:screenOrientation="portrait" android:label="@string/show_sensors"></activity>
<activity android:name="truesculpt.ui.debug.DebugTestPanel" android:label="@string/show_test"></activity>
<activity android:name="truesculpt.ui.panels.SplashPanel" android:label="@string/show_splash"></activity>
</application>

	<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"></uses-sdk>
	
	<uses-permission android:name="android.permission.INTERNET" />   
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>	




</manifest> 