<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="truesculpt.main" android:versionName="0.7" android:versionCode="7">
            
<application android:label="@string/app_name" 
	   		 android:name="TrueSculptApp"
	   		 android:debuggable="false"
	   		 android:theme="@style/Theme.TrueSculpt" android:icon="@drawable/logo">
	    
	<activity android:label="@string/app_name" 
	          android:name="truesculpt.ui.panels.RendererMainPanel"
	          android:theme="@android:style/Theme.NoTitleBar">            
		<intent-filter>
			<action android:name="android.intent.action.MAIN"></action>
			<category android:name="android.intent.category.LAUNCHER"></category>
		</intent-filter>
	</activity>
	
	<activity android:name="truesculpt.ui.panels.ToolsPanel" android:label="@string/tools_panel"></activity>
	<activity android:name="truesculpt.ui.panels.PointOfViewPanel" android:label="@string/point_of_view"></activity>
	<activity android:name="truesculpt.ui.panels.DebugPanel" android:label="@string/debug_panel"></activity>
	<activity android:name="truesculpt.ui.panels.UpdatePanel" android:label="@string/update_version_panel"></activity>
	<activity android:name="truesculpt.ui.panels.TutorialWizardPanel" android:label="@string/tutorial_wizard"></activity>
	<activity android:name="truesculpt.ui.panels.DebugSensorsPanel" android:screenOrientation="portrait" android:label="@string/show_sensors"></activity>
	<activity android:name="truesculpt.ui.panels.SplashPanel" android:label="@string/show_splash"></activity>
	<activity android:name="truesculpt.ui.panels.OptionsPanel" android:label="@string/show_options_panel"></activity>
	<activity android:name="truesculpt.ui.panels.AboutPanel" android:label="@string/show_about_panel"></activity>
	<activity android:name="truesculpt.ui.panels.HistoryPanel" android:label="@string/history"></activity>
	<activity android:name="truesculpt.ui.panels.StatisticsPanel" android:label="@string/statistics"></activity>
	<activity android:name="truesculpt.ui.panels.FileSelectorPanel" android:label="@string/fileSelector"></activity>
</application>

	<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"></uses-sdk>
	
	<uses-permission android:name="android.permission.INTERNET" />   
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>	
	<uses-permission android:name="android.permission.SET_WALLPAPER"></uses-permission>
	
</manifest> 