<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="truesculpt.main" android:versionName="0.6" android:versionCode="6">
            
<application android:icon="@drawable/icon" 
	   		 android:label="@string/app_name" 
	   		 android:name="TrueSculptApp"
	  		 android:debuggable="true">
	    
	<activity android:label="@string/app_name" 
	          android:name="truesculpt.ui.panels.RendererMainPanel"
	          android:theme="@android:style/Theme.NoTitleBar.Fullscreen">            
		<intent-filter>
		<action android:name="android.intent.action.MAIN"></action>
		<category android:name="android.intent.category.LAUNCHER"></category>
		</intent-filter>
	</activity>
	
	<activity android:name="truesculpt.ui.panels.ToolsPanel" android:label="@string/tools_panel" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	<activity android:name="truesculpt.ui.panels.PointOfViewPanel" android:label="@string/point_of_view" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	<activity android:name="truesculpt.ui.debug.DebugPanel" android:label="@string/debug_panel" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	<activity android:name="truesculpt.ui.panels.UpdatePanel" android:label="@string/update_version_panel" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	<activity android:name="truesculpt.ui.panels.TutorialWizardPanel" android:label="@string/tutorial_wizard" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	<activity android:name="truesculpt.ui.debug.DebugSensorsPanel" android:screenOrientation="portrait" android:label="@string/show_sensors" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	<activity android:name="truesculpt.ui.debug.DebugTestPanel" android:label="@string/show_test" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	<activity android:name="truesculpt.ui.panels.SplashPanel" android:label="@string/show_splash" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	<activity android:name="truesculpt.ui.panels.OptionsPanel" android:label="@string/show_options_panel" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	<activity android:name="truesculpt.ui.panels.AboutPanel" android:label="@string/show_about_panel" android:theme="@style/Theme.TrueSculpt.Translucent.FullScreen"></activity>
	</application>

	<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"></uses-sdk>
	
	<uses-permission android:name="android.permission.INTERNET" />   
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
	
</manifest> 